.wallpaper{
    width: 100%;
    
    min-height: 100vh;
    margin: 0 auto;
   
    
}

.video{
        object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: 1;
    
}

.tittle2{
    width: 100%;
    
    position: absolute;
    color:white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    // font-size: 95px;
    font-size: 125px;
    transition: all 0.7s ease 0s;
z-index: 2;

span{
    background-color: black;
    color: DarkOliveGreen;
    margin-left: 10px;
   
}

// .span1{
//     margin: 0px;
//     color: black;
//     height: 105px;
//      font-size: 105px;
//     background-color: white; 
// }
}


// tittle2::after{
//     content: "";
// width: 5px;
// height: 180px;

// background-color: red;
// }.




.contents{
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr/auto;
    grid-template-areas: 
                    "preview"
                       "woman"
                        "man"
                        "kids"
                                ;
}

.contents__preview{
    width: 100%;
    height: 100vh;
    // height: 100%;
    display:flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    position: relative;
    grid-area:preview
    
    
}

.contents__woman{
    width: 100%;
    height: 100%;
    background-image: url("../../../image/Main1/Woman22.jpg");
    background-size: cover;
    grid-area:woman;
    position: relative;
    display: flex;
    
    align-items: center;
    
}

.contents__man{
    width: 100%;
    height: 100%;
    grid-area:man;
    position: relative;
    background-image: url("../../../image/Main1/man22.jpg");
    background-size: cover;
    display: flex;
    // justify-content: flex-end;
    align-items: center;
   
    
}

.contents__kids{
    grid-area:kids;
    background-image: url("../../../image/Main1/kids2.jpg");
    background-size: cover;
    display: flex;
    
    align-items: center;
    
}


    .content-item{
      
        
           color:white;
           font-size: 39px;
           display: flex;
           align-items: center;
         
        position: relative;
      
           width: 40%;
           height: 100%;
           
          
        }


       
        .content-item_tittle{
            // position: absolute;
            background-color: DarkOliveGreen;
            
        }

       
        .submenus{
            background-color: black;
            color:white;
            width: 600px;
            height: 100%;
            position: absolute;
            // display: none;
           
            .submenus__list{
                display: inline-flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-size: 29px;
                width: 100%;
                height: 100%;
                 a{
                    color:white

                 }

                 a:hover{
                    color: DarkOliveGreen;
                 }

                 li{
                     padding-top: 15px;
                 }
            }
           
        }

        
    @media(max-width:375px){

        .submenus{
            width: 380px;
            font-size: 20px;
        }

        .content-item{
            width: 20%;
        }


    }

        // .content-item:hover .submenus{
        //     
        //     display: block;
        // }

    //     .content-item:hover .submenus{
    //         display: block;
    //         width: 100%;
    //         height: 100%;
    
    //    }


    .ttttttt{

        width:100%;
        height: 900px;
    }