.buttonWrapper{
    display: flex;
    justify-content: center;
    margin-top: 55px;

 }

 button{
   display: block;
border: 2px solid black;
max-height:50px ;
 min-width: 100px;
 margin-right: 5px;
 padding: 10px;
 background-color: white;
 
     
 &:hover{
   background-color: black;
   color: white;
   transition: all 0.7s ease 0s;
   border-radius: 5px;
 }
 }